html {
  font-size: 62.5%;
}
.nav-link {
  font-size: 1.8rem;
  margin: 0 1rem;
  transition: 0.5s;
  text-transform: uppercase;
  color: #69f0ae !important;
}
.nav-link:hover {
  transform: scale(1.1);
  border-bottom: 1px solid #fff;
}
.search {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #69f0ae;
  font-size: 1.5rem;
  color: #fff;
}
.search:focus {
  background-color: transparent;
  outline: 1px solid #69f0ae;
  border: none;
}
.search::placeholder {
  color: #fff;
}
.form-control {
  color: #fff !important;
}
.btn-header {
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: 0.4rem 3rem;
  transition: 0.5s;
}
.btn-header:active {
  transform: scale(1.1);
  box-shadow: 0 1rem 2rem rgba(#333, 0.2);
}
